{% extends 'base.html' %}

{% load static %}

{% block contents %}
<head>
    <style>
        #bg {
            background-image: url("{% static 'images/notebook.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            z-index: -10;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="container">
        <span id="bg"></span>
        
        <!-- TOP -->
        <div class="row home-nav">
            <div class="col">
                <span id="google-wrap">
                    <p class="google-cover"><img width='30px' style="vertical-align: bottom;" src="{% static 'images/google_icon.png' %}">구글 검색하기</p>
                    <input type="text" class="google-input text-input" id="google-text" maxlength=255 autocomplete="off"
                        onkeyup="if(window.event.keyCode==13){GoogleSearch()}" placeholder="검색어 작성후 엔터">
                </span>
            </div>
            <div class="col">
                <p class="text-end jua-font" style="font-size: 20px;">내 정보</p>
            </div>
        </div>
    
        <br><br><br>
    
        <!-- Contents -->
        <div class="position-absolute top-50 start-50 translate-middle text-center">
            <h1 class="title">SASOHAN.COM</h1>
            <p class="jua-font">사소하고 소소한 일상을 기록하다.</p>
            <div class="row" style="margin: 15px 0px">
                <div class="col" id="clock"></div>
                <div class="col" id="weather"></div>
            </div>
            <br>
            <form>
                <input type="text" class="text-input" >
                <input type="submit" value="검색">
            </form>
        </div>

        <!-- Footer -->
        <footer class="py-3">
            <div class="text-center">
                <span class="text-muted">Copyright HyunCompany 2020</span>
            </div>
        </footer>
    </div>
    <script>
        // 시계 함수
        function clock() {
            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes();

            document.getElementById("clock").innerHTML =
                `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}`;
        }
        function clockInit() {
            clock();
            setInterval(clock, 1000); // 매초마다 실행을 해줍니다.
        }

        // 날씨 함수
        function getWeather(lat, lon) {
            let weatherIcon = {
                '01' : 'fas fa-sun',
                '02' : 'fas fa-cloud-sun',
                '03' : 'fas fa-cloud',
                '04' : 'fas fa-cloud-meatball',
                '09' : 'fas fa-clod-sun-rain',
                '10' : 'fas fa-cloud-showers-heavy',
                '11' : 'fas fa-poo-storm',
                '13' : 'fas fa-snowflake',
                '50' : 'fas fa-smog',
            }
            fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=96c79cd2523ae35399c1d6f3e96c599b&units=metric`)
                .then(res => res.json())
                .then(data => {
                    const icon =  (data.weather[0].icon).substr(0,2);
                    const temperature = Math.floor(data.main.temp) + '°C';
                    const city = data.name;
                    
                    document.getElementById("weather").innerHTML = '<i class="' + weatherIcon[icon] + '"></i> ' + temperature
                        + '<br><p class="jua-font" style="font-size:15px">'+ city + '</p>';
                })
        }

        // 위치정보 함수
        function handleGeoSucc(position) {
            const latitude = position.coords.latitude;  // 경도  
            const longitude = position.coords.longitude;  // 위도
            getWeather(latitude, longitude);
        }
        function handleGeoErr(err) {
            console.log("geo err! " + err);
            getWeather(37.5665, 126.9780);  // 서울 기준으로 호출
        }
        // 위치정보 요청
        function requestCoords() {
            navigator.geolocation.getCurrentPosition(handleGeoSucc, handleGeoErr);
        }

        clockInit();
        requestCoords();
    </script>

</body>
{% endblock %}
