/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input:focus { outline: none; }
a {
    color: inherit; text-decoration: none; outline: none
}
a:hover, a:active {
    text-decoration: none; color:inherit;
}

/* Basic css */
/* font-family: 'Fredericka the Great',cursive; 'Jua', sans-serif; 'Lexend', sans-serif; 'Nanum Gothic', sans-serif; */
html, body, p {
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    padding-top: 15px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* input, button */
.text-input {
    border: none;
    border-bottom: 1px solid lightgrey;
    background: none;
}

.jua-font {
    font-family: 'Jua', sans-serif;
}

/* for Homepage */
.title {
    font-family: 'Fredericka the Great',cursive;
    font-size: calc(2.5rem + 1.5vw);
    
    /* Rainbow font */
    /* background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple); */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
}

.home-nav {
    color: whitesmoke;
}

#dropdown-container ul {
    display: none;
    cursor: pointer;
}
#dropdown-container:hover {
    color: rgb(228,217,199);
}
#dropdown-container:hover > ul{
    display: block;
}
#dropdown-container li {
    padding-top: 1.3vh;
}
#dropdown-container li:hover {
    color: white;
}

#clock {
    font-size: calc(2rem + 1.5vw);
    margin: 0px;
}

#weather {
    font-size: calc(1rem + 1.5vw);
    margin: 0px;
    padding: auto;
}

.google-input {
    opacity: 0;
    transition: 0.5s all;
    font-size: 20px;
    width: 100%;
    max-width: 230px;
    color: whitesmoke;
}
.google-cover {
    transition: 0.5s all;
    position: absolute;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}
#google-wrap:hover .google-input {
    opacity:1
}
#google-wrap:hover .google-cover {
    opacity: 0
}

/* Login, Signup Page */
.login-contents {
    background-color: #DADADA;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 30px 0px;
    border-radius: 20px;
}

.login-input {
    padding: 12px 5px;
    margin: 10px 0px;
    width: 85%;
    max-width: 400px;
}

.login-input:focus {
    outline: none;
    border: 1px solid black;
    border-bottom: 3px solid #009900;
}

.login-btn {
    margin: 6px 0px;
    width: 85%;
    max-width: 400px;
    font-size: 18px;
    font-weight: 600;
}

.naver-btn {
    background-color: rgb(30 ,200 ,0);
}

.naver-btn:hover {
    background-color: inherit;
    border: 1px solid rgb(30, 200, 0);
    color: rgb(30, 200, 0);
}